<h1>All Lines</h1>

<ul>
<% @lines.each do |line| %>
  <li><%= link_to line.name, line_path(line) %></li>
<% end %>
</ul>

<hr>

<h3>Add New Line</h3>

<%= render 'form' %>

<hr>

<%= link_to 'Return to Main Menu', :root %>
