html, body, div, img, span, h1, h2, h3, h4, p, ol, ul, li {
  margin:0;
  padding:0;
  border:0;
  text-align:left;
  font-weight:normal;
  vertical-align:baseline;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-position: inside;
}

body {
  background-color: #404040;
  font-family: 'Poiret One', cursive;
}

.clear {clear:both;}

#wrapper {
  width:800px;
  margin:30px auto;
  padding: 20px;
  background-color: #F2EFDC;
  border-radius: 20px;
}

nav {
  width: 600px;
  margin: 0 auto 20px auto;
  border-radius: 10px;
  background-color: #037E8C;
  font-size: 22px;
  font-weight: bold;
  color: #F24C27;
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 5px 10px;
  color: #F2EFDC;
}

nav a:hover {
  text-decoration: none;
  color:#F24C27;
}

hr {
  border-top: 1px solid #F24C27;
}

h1 {
  margin: 15px 0;
  color: #024959;
}

h3 {
  margin: 10px 0;
  color: #037E8C;
}



.btn-align {
  display: inline-block;
}

.btn-danger {
  background-color: #F24C27;
  border-color: #F24C27;
}

.btn-align.form-control {
  width:auto;
}

.col-md-2 {
  width:50%;
  float:left;
}

#edit-form {
  margin: 20px 0 0 0;
  display:none;
}

